{% extends 'master.html' %} {% block content %}
<div class="card my-3">
  <div class="card-header">
    <h3>Google Drive to SharePoint &amp; OneDrive Migration Assistant</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Test</h5>
    <p class="card-text">
      Automate the migration of your own data from your Google Drive to your
      OneDrive or a SharePoint Document Library to which you have access. Just
      select the source you want to migrate, and select the destination to which
      you want to migrate it, and let the app do the rest.
    </p>

    {% if not user.is_authenticated %}
    <p class="card-text">
      You need to create an account and/or sign in so that you can check in on
      the status of your migration.
      <a href="{% url 'login' %}" class="btn bg-google-blue">Log In</a>
    </p>
    {% else %} {% endif %}
  </div>
</div>

{% endblock %}
