<div class="text-center h-100">
  <p class="lead">
    Select a source folder or shared drive from your Google Drive. This
    selection is the data that will be migrated.
  </p>

  <div class="container bg-light py-2 text-dark rounded">
    <div class="search-container text-center">
      <label for="filter-input">Filter out something specific</label>
      <input class="form-control w-75 dynamic-filter m-1 m-auto" id="filter-input" data-searchingon="google-drive-source-options">
    </div>
    <p class="lead">Folders and Shared Drives in your Google Drive</p>
    <div class="row">
      <div class="col-sm-12 rounded"  style="max-height: 500px; overflow-y: scroll;">
        <div id="google-drive-source-options">
          {% for item in google_drive_content %}
          {% if item.mimeTypeFriendly  == 'Shared Drive' %}
          <a
            title="use the {{f.name}} folder as the destination"
            class="btn btn-primary btn-sm rounded m-2"
            href="{% url 'use-google-drive-shared-drive-source' item_id=item.id %}"
            >{{item.name}} ({{item.mimeTypeFriendly}})</a
          >
          {% elif item.mimeTypeFriendly  == 'Google Drive folder'  %}
          <a
            title="use the {{f.name}} folder as the destination"
            class="btn btn-primary btn-sm rounded m-2"
            href="{% url 'use-google-drive-folder-source' item_id=item.id %}"
            >{{item.name}} ({{item.mimeTypeFriendly}})</a
          >
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
