<div class="text-center h-100 position-relative">
  <p class="lead">
    Click the link below to run an initial scan of your data before migrating from 
    <strong>{{source_selected.name}} ({{source_selected.source_type}})</strong> in Google Drive 
    to {% if destination_selected.sharepoint_folder %} the
    <strong>{{destination_selected.sharepoint_folder.folder.name}}</strong> folder in
    the document library
    <strong
      >{{destination_selected.sharepoint_folder.document_library.name}}</strong
    >
    on the SharePoint Online site
    <a
      href="{{destination_selected.sharepoint_folder.site.webUrl}}"
      target="_blank"
      title="open the sharepoint site {{destination_selected.sharepoint_folder.site.displayName}}"
      ><strong
        >{{destination_selected.sharepoint_folder.site.displayName}}</strong
      ></a>. 
    {% elif destination_selected.onedrive_folder %}
    the <strong>{{destination_selected.onedrive_folder.folder.name}}</strong> folder in your OneDrive. {% endif %}

    The scan will provide key insights about your data, including information about items that cannot be migrated 
    due to incompatibility with the target environment. 
  </p>
  <a
    href="{% url 'scan-source' %}"
    title="Prepare your data migration"
    class="btn btn-lg btn-primary"
  >
   Scan
  </a>
  <div class="position-relative bottom-0 mt-4 start-0 mb-0 text-start">
    <a
      href="{% url 'change-destination' %}"
      title="Change the migration destination"
      class="btn btn-md btn-warning"
    >
      <i class="fa fa-arrow-left"></i> Change Migration Destination
    </a>
  </div>
</div>
