{% extends 'include/master.html' %} {% block content %}
<div class="container">
  <ol class="list-group">
    <li class="list-group-item active">
      Sign into Google and authorize this application to access your Google data
      via Google OAuth.
    </li>
    <li class="list-group-item">
      Log into Microsoft 365 and authorize this application to access your
      OneDrive and SharePoint content via Azure OAuth.
    </li>
    <li class="list-group-item">
      Select a source file, folder, or shared drive from your Google Drive. This
      selection is the data that will be migrated.
    </li>
    <li class="list-group-item">
      Select a destination in your OneDrive account or in SharePoint (e.g., a
      Document Library on a SharePoint site). This is the destination to which
      your selected Google source will be migrated.
    </li>
    <li class="list-group-item">Enqueue migration and monitor its progress.</li>
  </ol>
</div>

{% endblock %}
