{% extends 'include/master.html' %} {% block content %}
<div class="container text-center h-100 position-relative">
  {% if migration.source_data_scan_result %} {% if migration.source_data_scan_result.total_migratable_count > 0 %}
  <div class="my-3">
    <h3 class="my-2">Migratable Files</h3>
    <div class="d-flex justify-content-center">
      <span class="badge"
        >Total Size:
        {{migration.source_data_scan_result.total_migratable_size}}</span
      >
      <span class="badge"
        >Total Count:
        {{migration.source_data_scan_result.total_migratable_count}}</span
      >
    </div>
    <label for="migratable-files-list">Migratable Files List</label>
    <textarea
      id="migratable-files-list"
      style="height: 500px; overflow-y: scroll"
      disabled
      class="form-control text-left json-text"
    >
{{migration.source_data_scan_result.migratable_files_list}}</textarea
    >
  </div>
  {% else %}
  <div class="my-3">
    <h3 class="my-2">No migratable files were found in the scan.</h3>
  </div>
  {% endif %} {% if migration.source_data_scan_result.total_unmigratable_count > 0 %}
  <div class="my-3">
    <h3 class="my-2">Unmigratable Files</h3>
    <div class="d-flex justify-content-center">
      <span class="badge"
        >Total Size:
        {{migration.source_data_scan_result.total_unmigratable_size}}</span
      >
      <span class="badge"
        >Total Count:
        {{migration.source_data_scan_result.total_unmigratable_count}}</span
      >
    </div>
    <label for="unmigratable-files-list">Unmigratable Files List</label>
    <textarea
      id="unmigratable-files-list"
      style="height: 500px; overflow-y: scroll"
      disabled
      class="form-control text-left json-text"
    >
{{migration.source_data_scan_result.unmigratable_files_list}}</textarea
    >
  </div>
  {% else %}
  <h3 class="my-2">No un migratable files were found in the scan.</h3>
  {% endif %} {% else %}
  <p class="lead">Looks like your scan is still running.</p>
  {% endif %}

  <div class="position-relative bottom-0 right- mb-0 text-end">
    <a
      href="{% url 'start-migration' migration_id=migration.id %}"
      title="Start this migration"
      class="btn btn-md btn-primary"
    >
      Start Migration <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>
{% endblock %}
