.colorbackground {
  background: linear-gradient(-45deg, $google-blue, $google-green, $google-yellow, $google-red, $ms-yellow, $ms-blue);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
