$text-color: #fff;
$background-color: #333;
$brand-color: #b00;
$link-color: #3477ad;
$header-background: #333;
$footer-background: #234;
$footer-text: darken(#fff, 10%);
$grey-color: #828282;
$grey-color-lightest: #f8f8f8;
$grey-color-dark: darken($grey-color, 15%);
$grey-color-light: lighten($grey-color, 15%);

$google-red: #db4437;
$google-blue: #4285f4;
$google-yellow: #f4b400;
$google-green: #0f9d58;
$ms-red: #f65314;
$ms-green: #7cbb00;
$ms-blue: #00a1f1;
$ms-yellow: #ffbb00;
$ms-grey: #737373;
