footer {
  padding: $spacing-unit 0;
  height: 10vh;
  font-size: $small-font-size;
  box-shadow: 0 50vh 0 50vh $footer-background;

  background-color: $footer-background;
  color: $footer-text;

  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .footer-col {
    padding: $spacing-unit/2 0;
  }
  .site-desc {
    width: 500px;

    @include media-query($on-laptop) {
      flex: 1 100%;
    }
  }
}
